<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softfabrique.test.mapper.database1.Db1TableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.softfabrique.test.entity.database1.Db1Table">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="create_date" property="create_date" />
        <result column="status" property="status" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, create_date, status
    </sql>


    <sql id="Base_Alias_Column_List">
        db1Table.id as db1Table_id,db1Table.title as db1Table_title,db1Table.create_date as db1Table_create_date,db1Table.status as db1Table_status
    </sql>

    <resultMap id="selectSimpleResultMap" type="java.util.HashMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <association  property="db1Table" columnPrefix="db1Table_"
                      resultMap="com.softfabrique.test.mapper.database1.Db1TableMapper.BaseResultMap"/>
    </resultMap>

    <select id="selectSimple" resultMap="com.softfabrique.test.mapper.database1.Db1TableMapper.BaseResultMap" >
        select <include refid="com.softfabrique.test.mapper.database1.Db1TableMapper.Base_Column_List"/> from t_db1_table
    </select>

    <select id="selectMapSimple" resultMap="com.softfabrique.test.mapper.database1.Db1TableMapper.selectSimpleResultMap" >
        select <include refid="com.softfabrique.test.mapper.database1.Db1TableMapper.Base_Alias_Column_List"/> from t_db1_table as db1Table
    </select>

</mapper>